SUPABASE_URL=https://qbwfgaqaxxwcwuahksbj.supabase.co
SUPABASE_ANON_KEY=TROQUE_AQUI_PELA_ANON_KEY_PUBLIC
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFid2ZnYXFheHh3Y3d1YWhrc2JqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjA0MDU4NSwiZXhwIjoyMTAxNjE2NTg1fQ.R9hjOZV-rHg0YacKzo0uwc5hf4Oaj4EFH3oGv1cORck
APP_ENCRYPTION_KEY=GereUmaChaveAquiCom32Caracteres000
INTER_SANDBOX_TOKEN_URL=https://sandbox.example.bancointer.com/oauth/token
INTER_SANDBOX_PIX_URL=https://sandbox.example.bancointer.com/pix/v1/payments
INTER_PRODUCTION_TOKEN_URL=https://production.example.bancointer.com/oauth/token
INTER_PRODUCTION_PIX_URL=https://production.example.bancointer.com/pix/v1/payments
MOCK_BANK_MODE=true
VITE_APP_URL=http://localhost:5173